/* Custom properties*/
:root {
/* Colors */
    --clr-white: #F8F9D7;
    --clr-light: #C4D7E0;
    --clr-accent: #393E46;
    --clr-dark: #222831;
}
/* Fonts */
@font-face {
    font-family: "Futura";
    src: url("./Futura\ Book\ font.ttf");
}


#content {
    background-color: var(--clr-light);
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Futura";
    color: var(--clr-light);
}

body {
    width:100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--clr-light);
}

.navbar{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 20px;
    padding-left: max(100px, 15vw);
    height: 5vh;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}

.navbar--list {
    margin:0;
    width: inherit;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    justify-content: left;
    align-items: center;
}

span {
    color: white;
}


h4 {
    margin: 0;
}

.project-menu {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    position:fixed;
    top:0;
    height:100%;
    width: max(100px, 13vw);
    padding: 10px;
    z-index:100;
}

.project-menu--item {
    padding-top: 20px;
    width:inherit
}

a:hover{
    display: block;
    background-color: var(--clr-light) !important;
    color: var(--clr-accent);

}

.app {
    display: flex;
    flex-direction: row;
    color: var(--clr-dark);
}

#app-div {
    width: calc(100vw - max(100px, 15vw));
    padding-left: max(180px, 15vw);
    padding-top: 15vh;
    height: calc(100vh - 5vh - 60px )
}

#items-container {
    display: grid;
    width: inherit;
    height: inherit;
    grid-template-rows: repeat(auto-fit, max(200px, 20vh));
    grid-template-columns: repeat(auto-fit, max(200px, 20vw));
    background-color: var(--clr-light);
    row-gap: 50px;
    column-gap: 50px;
}


.hide {
    display: none;
}

.item-card {
    background-color: #F8F9D7;
    padding: 10px;
}